.jumbotron{
    margin-top:70px;
}

.button1{

    margin-left:5px;
}

.container1{
    position: relative;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 20px 0 20px 0;
}

.row{
    margin-left:35px;
}
