<div class="jumbotron">

    <h2 align="center">terms & Conditions</h2>
    <p>Unlike a Privacy Policy that is required for almost all online businesses, a Terms and Conditions isn't required
        for an ecommerce store, but it's extremely important to have it.

        A Terms and Conditions could legally protect your ecommerce store. It is in this type of legal agreement where
        you set the rules that your customers would follow during a purchase and limit your liability in the event that
        your products fail.</p>

    <div align="center">
        <button type="submit" class="btn btn-success" routerLink="/sign-up">Agree</button>
        <button type="submit" class="btn btn-danger btn1" routerLink="/">Disagree</button>
    </div>


</div>